
<ul>
    <li><strong>[LOS]</strong>: Lagos – Murtala Muhammed - Nigeria</li>  
    <li><strong>[ABV]</strong>: Abuja - Nnamdi Azikiwe International - Nigeria</li>
    <li><strong>[ATL]</strong>: Atlanta – Hartsfield Atlanta - US</li>
    <li><strong>[LHR]</strong>: London – Heathrow - UK</li>
    <li><strong>[ORD]</strong>: Chicago-O´Hare - US</li>
    <li><strong>[DXB]</strong>: Dubai - UAE</li>
    <li><strong>[AUH]</strong>: Abu Dhabi - UAE</li>
    <li><strong>[ACC]</strong>: Accra - Kotoka International Airport - Ghana</li>
    <li><strong>[JNB]</strong>: Johannesburg - South Africa</li>
    <li><strong>[BCN]</strong>: Barcelona - Spain</li>
    <li><strong>[ADD]</strong>: Addis Ababa - Bole International Airport - Ethiopia</li>
    <li><strong>[ADL]</strong>: Adelaide - Australia</li>
</ul>