<div class="searchBox">
    <p>Where are you going to <strong>Friend?</strong></p>
    <form action="/citySearch" method="GET">
      <input type="text" name="keyword" placeholder="Search a City or Airport..." />
      <button type="submit">Go</button>
    </form>