
<ul class="cityCodes">
    <li><strong>[LOS]</strong>: Lagos – Murtala Muhammed - Nigeria</li>  
    <li><strong>[ABV]</strong>: Abuja - Nnamdi Azikiwe International - Nigeria</li>
    <li><strong>[ATL]</strong>: Atlanta – Hartsfield Atlanta - US</li>
    <li><strong>[LHR]</strong>: London – Heathrow - UK</li>
    <li><strong>[DXB]</strong>: Dubai - UAE</li>
</ul>