<div class="search-form">
    <form action="/index" method="POST">
      <label for="from">From</label>
      <input
        type="text"
        id="from"
        name="locationDeparture"
        value=""
        placeholder="From.."
      />
      <label for="to">To</label>
      <input
        type="text"
        id="to"
        name="locationArrival"
        value=""
        placeholder="To..."
      />
      <label for="depature">Departure</label>
      <input
        type="date"
        name="depature"
        id="depature"
        value=""
        placeholder="..."
      />
      <label for="adults">Passenger(s)</label>
      <input type="number" id="adults" name="adults" value="" placeholder="2" />
      <button type="submit">Search Flights</button>
    </form>
  </div>