 
<div class="simple-ss" id="simple-ss">
    <h1 class="flashShow">
        <span class="letters letters-1">Are you a Tourist?</span>
        <span class="letters letters-2">Going for vacation?</span>
        <span class="letters letters-3">Business Man/Woman?</span>
    </h1>
</div>
<div class="search--form">
    <form action="/">
        <label for="fro">Flying from</label>
        <select name="fro">
            <option value="LOS">Murtala Muhammed(LOS) Lagos, Nigeria</option>
            <option value="LHR">Heathrow(LHR) London, United Kingdom</option>
            <option value="JNB">O.R. Tambo International Airport(JNB) Johannesburg, S. Africa</option>
            <option value="DXB">Dubai(DXB), United Arab Emirates</option>
            <option value="ABV">Nnamdi Azikwe International Airport(ABV) Abuja</option>
        </select>
        <label for="to">Flying to</label>
        <select name="to">
            <option value=""></option>
            <option value="DXB">Dubai(DXB), United Arab Emirates</option>
            <option value="LOS">Murtala Muhammed(LOS) Lagos, Nigeria</option>
            <option value="JNB">O.R. Tambo International Airport(JNB) Johannesburg, S. Africa</option>
            <option value="LHR">Heathrow(LHR) London, United Kingdom</option>
            <option value="ABV">Nnamdi Azikwe International Airport(ABV) Abuja</option>
        </select>
        <label for="date" class="c-dates">Date</label>
        <input type="date" name="date">
        
        <button type="submit">
            <img src="/img/search-flight.png" alt="Search">
        </button>
    </form>
</div>
<div class="why--us">
    <div class="col--I">
        <h4>Why People Choose Us</h4>
        <h1 class="flashShow">
            <span class="letters letters-1">Reliable Airlines</span>
            <span class="letters letters-2">7M+ visitors</span>
            <span class="letters letters-3">Fast Booking</span>
        </h1>
    </div>
    <div class="col--II">
        <div class="block--I">
            <p>
                We cooperate only with the most reliable airlines who can boast the perfect reputation.<br/>
                <button>Join Us</button>
            </p>
        </div>
    </div>
    <script src="/animation.js"></script>
</div>
<div class="col--III">
    <div class="block--card">
        <div class="card--head">
            <img src="/img/man-selfie.jpg" alt="Travelling Image">
        </div>
        <p>
            More than 7 million people use our services to find and book airline tickets.<br/>
            <button>Book Now</button>
        </p>
    </div>
    <div class="block--card">
        <div class="card--head">
            <img src="/img/kids-shot.jpg" alt="Travelling Image">
        </div>
        <p>
            We provide reliable ticket booking system, which is also perfect for first-time travellers.<br/>
            <button>Get Started</button>
        </p>
    </div>
    <div class="block--card">
        <div class="card--head">
            <img src="/img/traveller-relaxing.jpg" alt="Travelling Image">
        </div>
        <p>
            Convenient and fast search for airline tickets, hotels and cars.<br/>
            <button>Get Started</button>
        </p>
    </div>
</div>
<div class="flight--deals">
    <div class="fd--header">
        <h4>Flight Deals</h4>
        <h2>All fares are subject to availability</h2>
    </div>
    <div class="nav--control">
        <span><</span>
        <span>></span>
    </div>
</div>
<div class="price--list">
<div class="listings">
    <div class="listing--head">
        <img src="/img/man-selfie.jpg" alt="Travelling Image">
    </div>
    <p>
        See the great African lakes at Kigali.<br/>
        <strong>Economy Class [Round Trip]</strong><br />
        <span>₦198,190</span>
    </p>
</div>
<div class="listings">
    <div class="listing--head">
        <img src="/img/traveller-relaxing.jpg" alt="Travelling Image">
    </div>
    <p>
        See the great adventures in Dubai.<br/>
        <strong>Economy Class [Round Trip]</strong><br />
        <span>₦248,000</span>
    </p>
</div>
<div class="listings">
    <div class="listing--head">
        <img src="/img/greece.jpg" alt="Travelling Image">
    </div>
    <p>
        See the great city athens at Greece.<br/>
        <strong>Economy Class [Round Trip]</strong><br />
        <span>₦248,000</span>
    </p>
</div>
<div class="listings">
    <div class="listing--head">
        <img src="/img/netherlands.jpg" alt="Travelling Image">
    </div>
    <p>
        See the great beautiful cities of Netherlands.<br/>
        <strong>Economy Class [Round Trip]</strong><br />
        <span>₦198,190</span>
    </p>
</div>
</div>

<div class="call-to-action">
    <div class="action--text">
        <h2>24/7 SUPPORT</h2>
        <p>
            Our Support Service is available 24 hours a day, 7 days a week to help you buy your tickets.
        </p>
        <button>Get in touch</button>
    </div>
    <div class="some--image">
        <img src="/img/traveller-relaxing.jpg" alt="Travelling Image">  
    </div>
</div>

<footer>
    <div class="newsletter">
        <h2>Subcribe to get the latest news about us</h2>
        <div class="sub--form">
            <input type="text" name="sub" placeholder="Your email...">
            <button>Subscribe</button>
        </div>
    </div>
    <div class="social--media">
        <img src="/img/facebook.png" alt="Facebook">
        <img src="/img/twitter.svg" alt="Twitter">
        <img src="/img/instagram.svg" alt="Instagram">
    </div>
</footer>
<div class="footer--last">
    <p>
        &copy; 2021 All Rights Reserved.
    </p>
</div>