<div class="menu-container">
<div class="logo">
    <a href="/" target="_self" rel="noopener noreferrer">
        <img src="/img/logo-white1.png" alt="Logo">
    </a>
</div>
<div class="w-menu-list">
    <ul>
        <li>Home</li>
        <li>Visa</li>
        <li>Become an affiliate</li>
        <li>Vacation packages</li>
    </ul>
    <button>Login</button>
</div>
</div>