<div class="main--view">
    <%- include('partials/header.ejs') %>
    <%- include('partials/menu.ejs') %>
    <%- include('partials/landing.ejs') %> 
    <div class="float--btn">
        <a href="/">^</a>
    </div>
</div>
<%# include('partials/script.ejs') %>

<%# Vanilla JavaScript book now hide and show modal pop out form  button%> 
<%# include('partials/hideShowScript.ejs') %> 
