<%- include('partials/header.ejs') %>
<div class="index-header">
  <h3><a href="/">X</a></h3>
</div>
<div class="middle-col">
  <img src="/img/globe.png" alt="Flight Searching...">
</div>
<div class="index-container">
  <%- include('partials/landing.ejs') %> 
</div>