@font-face{
    font-family: 'Avenir Next';
    src: url("AvenirNext-Regular.otf"),
    url("AvenirNext.otf")format("opentype");
}
*{
    font-family: 'Avenir Next';
    margin: 0;
}
.logo{
    margin-left: 10px;
}
.logo>a>img{
    height: 55px;
    widows: 123px;
}
.menu-container{
    margin-top: 0;
    padding: 10px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;
    z-index: 1000; 
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.11); */
    /* height: 5%; */
    /* z-index: 1000; */
    /* box-shadow: 6px 6px 5px -5px rgba(183, 183, 183, 0.45); */
}
.w-menu-list,.w-menu-list>ul {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.w-menu-list>ul>li{
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    cursor: pointer;
}
.w-menu-list>button{
    margin-right: 30px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #e03455;
    border: none;
    color: #fff;
    box-shadow: 6px 6px 5px -5px rgba(183, 183, 183, 0.45);
}
.w-menu-list>input{
    margin-right:10px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: 2px solid rgb(226, 204, 7);
    padding: 10px;
    background-color: transparent;
}
/* USUAL STUFF */

/* THE DIV */
.simple-ss {
  width:100vw;
  height:80vh;
  background-color:#ccc;
  margin:auto;
  background-image:url("img/background-06.jpg");
  

/* ANIMATING STUFF */
  animation-name: slide;
  animation-duration: 13s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

/* NOTE CODEPEN AUTOGENERATING -PREFIXES */
@keyframes slide {
  0% {background-position:0 0;}
  16.66% {background-position:0 0;}
  33.32% {background-position:-800px 0;}
  49.98% {background-position:-800px 0;}
  66.64% {background-position:-1600px 0;}
  83.30% {background-position:-1600px 0;}
  100% {background-position:0 0;}
}
.search--form{
    position: relative;
    left: 30%;
    padding: 5px;
    height: 70px;
    background-color: #fff;
    margin-top: -40px;
    border-radius: 10px;
    width: 850px;
    box-shadow: 0 8px 10px 0 rgba(161, 160, 160, 0.3), 0 12px 12px 0 rgba(0, 0, 0, 0.15);
}
.search--form>form>input{
    background-color: transparent;
    position: relative;
    outline: none;
    border: none;
    height: 40px;
    width: 200px;
    border-bottom: 4px solid rgb(255, 238, 0);
    color: rgb(131, 127, 127);
    padding: 5px;
    font-size: 18px;
    top: -9;
    text-transform: uppercase;
}
.search--form>form>label{
    position: relative;
    top: -45;
    bottom: 10px;
    left: 65px;
    font-weight: 600;
    font-size: 12px;
    color: rgb(131, 127, 127);
}
.search--form>form>.c-dates{
    position: relative;
    left: 35px;
}

.search--form>form>select{
    background-color: transparent;
    position: relative;
    outline: none;
    border: none;
    height: 40px;
    width: 200px;
    border-bottom: 4px solid #202646;
    color: rgb(131, 127, 127);
    padding: 5px;
    font-size: 12px;
    top: -10;
    text-transform: uppercase;   
}
.search--form>form>button{
    width: 70px;
    cursor: pointer;
    position: relative;
    right: 0;
    margin: 0;
    padding: 0;
    top: -5;
    left: 40px;
    border: none;
    height: 80px;
    background-color: #e03455;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.flashShow {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
  }
  .flashShow .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }
.why--us{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 0;
}
  .why--us>.col--I>h4{
      color:#e03455;
  }
  .why--us>.col--I{
      padding: 5px;
      width: 300px;
      height: 355px;
  }
  /* First Block */
  .why--us>.col--II>.block--I>p{
      background-color: transparent;
      padding: 50px;
      font-size: 18px;
      flex-wrap: wrap;
      width: 340px;
  }
  .why--us>.col--II>.block--I{
      background-color: #f38a9f2f;
      width: fit-content;
      height: 200px;
      padding: 10px;
  }
  .why--us>.col--II>.block--I>p>button{ 
      margin-top: 10px;
      padding: 10px;
      border: none;
      border-radius: 2px;
      background-color: #e03455;
      color: #fff;
  }
  /* Third col */
 .col--III{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }
  .col--III>.block--card>p{
    background-color: transparent;
    padding: 20px;
    font-size: 18px;
    flex-wrap: wrap;
    width: 340px;
}
.col--III>.block--card{
    background-color: #fff;
    width: fit-content;
    height: 350px;
    padding: 0;
    box-shadow: 0 8px 10px 0 rgba(161, 160, 160, 0.3), 0 12px 12px 0 rgba(0, 0, 0, 0.15);
}
.col--III>.block--card>p>button{ 
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: #e03455;
    color: #fff;
}
.block--card{
    display: flex;
    flex-direction: column;
}
.card--head>img{
    width: 386px;
    height: 200px; 
}
.flight--deals{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:60px;
    padding: 10px;
}
.fd--header, .nav--control{
    padding-right: 20px;
}
.fd--header>h4{
    color:#e03455;
    padding-left: 70px;
}
.fd--header>h2{
    padding-left: 60px;
    font-size: 3em;
    text-transform: capitalize;
    width: 520px;
}
.nav--control>span:hover{
    color: #202646;
    cursor: pointer;
}
.nav--control>span{
    font-size: 2em;
    margin-right: 10px;
    color: #adadad;
    cursor: pointer;
}
.listings{
    padding:0;
    margin-left: 20px;
    background-color: #fff;
    border: none;
    box-shadow: 0 8px 10px 0 rgba(161, 160, 160, 0.3), 0 12px 12px 0 rgba(0, 0, 0, 0.15);
}
.listing--head>img {
    width: 326px;
    height: 200px; 
}
.listings>p{
    padding: 10px;
}
.price--list{
    display: flex;
    flex-direction: row;
    width: 97vw;
    overflow: scroll;
    margin-left: 20px;
    padding: 5px;
}
.call-to-action{
    background-color: #f3e08a2f;
    margin: 0 auto;
    margin-top: 60px;
    height: 476px;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.some--image>img{
    width: 528px;
    height: 426px;
    box-shadow: 0 8px 10px 0 rgba(161, 160, 160, 0.3), 0 12px 12px 0 rgba(0, 0, 0, 0.15);
    /* margin-right: 20px;     */
}
.some--image{
    padding-right: 50px;
}
.action--text>h2{
    font-size: 3em;
}
.action--text{
    margin-top: 40px;
    padding: 60px;
} 
.action--text>p{
width: 500px;
font-size: 1.5em;
}
.action--text>button{
    padding: 10px;
    background-color: #e03455;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
    box-shadow: 0 8px 10px 0 rgba(161, 160, 160, 0.3), 0 12px 12px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    font-weight: 600;
}

footer{
    margin-top: 60px;
    padding: 60px;
    background-color: rgb(209, 195, 199);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.newsletter{
    margin: 0 auto;
    width: 100%;
}
.newsletter>h2{
    text-transform: capitalize;
}
.sub--form{
    background-color: #fff;
    width: 386px;
    height:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.sub--form>input{
    border: none;
    outline: none;
}
.sub--form>button{
    background-color: #e03455;
    /* border-radius: 5px; */
    border: none;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}
.social--media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social--media>img{
    width: 25;
    height: 25;
    cursor: pointer;
}
.footer--last{
    background-color: #202646de;
    padding: 5px;
}
.footer--last>p{
    font-weight: 600;
    color: #fff;
    font-size: 12px;
}
.simple-ss>h1{
    width: 410px;
    color: #fff;
    margin-left: 60px;
}
.simple-ss>h1>span{
    padding-top: 80px;
}
.listings>p>span{
    font-size: 2em;
    color: #202646;
    font-weight: 700;
}
.float--btn{
    position: fixed;
    bottom: 20;
    right: 20;
    background-color: #e03455;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.float--btn>a{
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
    color: #fff;
    margin-left:15px;
}
@media screen and (max-width:768px){
    .main--view{
        display: none;
    }
    *{
        padding: 60px;
    }
    *::after{
        /* padding: 20px; */
        content: "Mobile view is not available at this time try to view the website from a bigger screen or laptop";
    }
}